@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Dosis&display=swap');

body {
  background: ghostwhite;
  font-family: 'Bebas Neue', cursive;
}
.prof-pic {
  width: 25%;
}
#conditions {
  background-image: url('https://media.istockphoto.com/id/824800468/photo/sun-on-blue-sky-with-clouds.jpg?b=1&s=170667a&w=0&k=20&c=rVSwIECCenLv_NYV76uQQdhc1VwOSkPqoIjHuqNu_sw=');
  background-size: cover;
}
.conditionbg1 {
  font-size: 1.5em;
  background-color: rgba(255, 255, 255, 0.464);
  width: 170px;
  padding: 10px;
  border-radius: 15px;
}
.conditionbg2 {
  font-size: 1em;
  background-color: rgba(255, 255, 255, 0.464);
  padding: 10px;
  margin-top: 20px;
  border-radius: 15px;
}
#notepad {
  background-image: url('http://i.stack.imgur.com/ynxjD.png');
  background-size: auto;
  border: 2px solid rgba(0, 0, 0, 0.551);
  box-shadow: 5px 5px;
}
#notepadcont {
  display: flex;
  justify-content: right;
}